
.main-section {
    display: flex;
    flex-wrap: wrap;
}

.div_fish-list {
    background-color: aquamarine;
    width: 80%;
}

.aside_care-tips {
    background-color: blue;
    width: 20%;
}


.fishList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 25px 25px;
}

.fish_image {
    width: 100px;
    height: 100px;
    border: solid 1px;
}


.fish-card {
    width: 200px;
    height: 250px;
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.div_quote-section {
    background-color: aqua;
    width: 100%;
    clear: both;
}

.article_quote-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}